// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;

}

h1{
  font-size: 26px;

  margin: 17px 0px;
}

p{
  margin: 33px;
  line-height: 18px;
  font-size:13px;
}